.vs/CyberDepot/FileContentIndex/05baba1e-d2fa-4e13-ad7f-3f2862899d59.vsidx
.vs/CyberDepot/FileContentIndex/163e96d3-bfd7-4be1-b263-136f9c410693.vsidx
.vs/CyberDepot/FileContentIndex/43d8ee56-0d05-4fc9-81ef-ce44a075196b.vsidx
.vs/CyberDepot/FileContentIndex/72b7077b-f507-4c12-aefd-9a00bdbdc99c.vsidx
.vs/CyberDepot/FileContentIndex/d81236ad-b294-460d-abc1-d15f44eaa44b.vsidx
.vs/CyberDepot/FileContentIndex/e53a6398-87d9-4b65-9d04-289a11fab816.vsidx
.vs/CyberDepot/FileContentIndex/e9211792-01bb-432e-a0d6-fbe6b7b49ef1.vsidx
.vs/CyberDepot/FileContentIndex/ed4fc174-6f0a-4d91-9461-71bed724bba2.vsidx
.vs/CyberDepot/FileContentIndex/fe4fb1d3-9cba-4ff9-a3fc-097068d08a47.vsidx
.vs/CyberDepot/v17/.wsuo
.vs/CyberDepot/v17/DocumentLayout.backup.json
.vs/CyberDepot/v17/DocumentLayout.json
.vs/slnx.sqlite
/.vs
.vs/CyberDepot/FileContentIndex/e9211792-01bb-432e-a0d6-fbe6b7b49ef1.vsidx
/.vs/CyberDepot/FileContentIndex
/.vs/CyberDepot
/.vs
*.vsidx
