.vs/CyberDepot/FileContentIndex/1e450aa3-7247-46d0-91e8-f414e54b248d.vsidx
.vs/CyberDepot/FileContentIndex/4732d390-e246-410a-b297-914f203cde10.vsidx
.vs/CyberDepot/FileContentIndex/72b7077b-f507-4c12-aefd-9a00bdbdc99c.vsidx
.vs/CyberDepot/FileContentIndex/ad1398fb-3988-4389-aa25-4a84d85621a5.vsidx
.vs/CyberDepot/FileContentIndex/b58a71d4-185d-4233-919e-520dfe10659c.vsidx
.vs/CyberDepot/v17/.wsuo
.vs/CyberDepot/v17/DocumentLayout.backup.json
.vs/CyberDepot/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
CyberDepot.txt
xp system tortuga.txt
*.vsidx
